name: Run Tests & Clippy

on:
  push:
    branches:
      - test-formatting
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Solana
        run: sh -c "$(curl -sSfL https://release.anza.xyz/v2.2.20/install)"

      - name: Build
        run: cargo build-sbf

      - name: Test
        run: cargo test
